<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="databasesizemonitoring.ZPM">
    <Module>
      <Name>databasesizemonitoring</Name>
      <Version>1.0.0</Version>
      <Packaging>module</Packaging>
      <Resource Name="DataBases.PKG"/>
     <CSPApplication CookiePath="/csp/user/" DefaultTimeout="900" DeployPath="${cspdir}user/" Description="User Namespace applications" GroupById="%ISCMgtPortal" MatchRoles=":{$dbrole}" PasswordAuthEnabled="1" Recurse="1" ServeFiles="2" ServeFilesTimeout="3600" SourcePath="/user" UnauthenticatedEnabled="1" Url="/csp/user" UseSessionCookie="2"/>
     <SourcesRoot>src</SourcesRoot>
    </Module>
  </Document>
</Export>